*{
margin:0%;
padding:0%;
box-sizing: border-box;
color: white;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
width: 100%;
height: 100%;
border-radius: 1rem;
background-color: black;
}
#div{
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin-bottom: 5rem;
}
h2{
  margin-left: 3rem;
}
